body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/topography.png); /*http://www.myiconfinder.com/uploads/iconsets/256-256-25dba2a6b2692c018ed4879d9cc0a5e4-wrench.png*/
    padding-top: 0px; /*50*/
    padding-bottom: 0px; /*20*/
}

/*dodavanje stila za validaciju*/
.field-validation-error{
    color: red;
   }
.input-validation-error{
    border: 2px solid red;
}
.validation-summary-errors{
    color:red;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
