@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    MCP, tvrtka osnovana s vizijom stvaranja potpunog doživljaja u automobilskoj industriji, bavi se  održavanjem motornih vozila, a čine ju ovlaštena prodaja i servis brandova Volkswagen, Škoda, Audi te MCP – servis za sve marke vozila.

    Iako je započeo kao automehaničar, g. Marko Marković, od male automehaničarske radionice koju je otvorio 2010. napravio je tvrtku koja danas broji preko desetak stručnjaka za popravak motornih vozila u MCP tvrtki.

    Uspjeh od samoga početka temeljen je na kvaliteti rada i dobroj cijeni popravka, a tradiciju ovakvog poslovanja MCP njeguje i danas. MCP dobitnik je priznanja za kvalitetu usluge i najveću razinu korisničkog iskustva, najbolji omjer cijene i kvalitete, te je prepoznat kao lanac servisa s najkvalitetnijim uslugama u Hrvatskoj.

    Ljudi koji žele kvalitetu i premium uslugu naša su misija, a sve što radimo, radimo jer vjerujemo da kupce treba tretirati kao prijatelje. Iskreno, jasno, pouzdano i pomažući im kad god treba.

</div>