@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <span class="glyphicon glyphicon-map-marker"></span> Adresa: Ul. bana Josipa Jelačića 22, 22000, Čakovec<br />
    <span class="glyphicon glyphicon-phone-alt"></span> Tel: 040 396 990 <br />
    <span class="glyphicon glyphicon-phone"></span> Mob: 093 333 3333 <br />
    <span class="glyphicon glyphicon-envelope"></span> e-mail: <a href="mailto:paup@mev.hr">paup@mev.hr</a><br />
</address>

<p>
    Radno vrijeme: <br />
    <br />
    PON - PET: 8:00h - 20:00h<br />
    SUB: 9:00h - 17:00h<br />
    <br />
    Nedjeljom i praznikom NE radimo!
</p>

@*Ovdje je google maps da nas mogu najti :D*@
<center><h3>Našu lokaciju možete vidjeti i na google maps</h3></center>
<br />
<center>
    <div id="map_canvas" style="width: 900px; height: 480px;">
    </div>
</center>