@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ul. bana Josipa Jelačića 22<br />
    22000, Čakovec<br />
    <abbr title="Broj telefona">T:</abbr>
    040 396 990<br />
    e-Mail:<a href="mailto:paup@mev.hr">paup@mev.hr</a><br />
</address>