@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Ul. bana Josipa Jelačića 22<br />
    22000, Čakovec<br />
    <abbr title="Broj telefona">Tel.: </abbr>
    040 396 990<br />
    e-mail: <a href="mailto:paup@mev.hr">paup@mev.hr</a><br />
</address>

<p>
    Radno vrijeme:<br />
    <br />
    PON - PET: 8:00h - 20:00h<br />
    SUB: 9:00h - 17:00h<br />
    <br />
    Nedjeljom i praznikom NE radimo!
</p>