@{
    ViewBag.Title = "Potvrda reseta lozinke";
}
<h2>PlaceHolder</h2>
<h2>@ViewBag.Title.</h2>
<div>
    <p>
       Vaša lozinka je promjenjena. @Html.ActionLink("Kliknite ovdje da se prijavite.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
