<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <div>
        <h2>@ViewBag.Title</h2>

        <p>
            Ovo je baza svih servisa radionice.
        </p>

        <p>Odaberite link: </p>

        <ul>
            <li>@Html.ActionLink("Popis svih servisa", "Popis servisa", "ServisAdmin")</li>
            <li>@Html.ActionLink("Detaljno o servisima", "ServisAdminDetaljno", "ServisAdmin")</li>

        </ul>

    </div>
    @{
            ViewBag.Title = "Servis vozila";
        }

</body>

</html>

