@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Pogreška";
}

<h1 class="text-danger">Pogreška.</h1>
<h2 class="text-danger">Dogodila se pogreška, molimo vas da pokušate kasnije.</h2>

