@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zaključan račun";
}

<hgroup>
    <h1 class="text-danger">Zaključan račun.</h1>
    <h2 class="text-danger">Vaš korisnički račun je zaključan, molimo vas da pokušate kasnije.</h2>
</hgroup>
