
@{
    ViewBag.Title = "Admin panel";
}
<h2>Placeholder</h2>
<h2>Admin panel</h2>

<div class="row">
        <div class="col-md-6">
            <center>
                <a href="~/korisnik/Admin">
                    <div class="jumbotron">
                        <h2>Upravljanje korisnicima</h2>
                        <h4>(Dodavanje, uređivanje, brisanje)</h4>
                    </div>
                    </a>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <a href="~/vozilo/Admin">
                    <div class="jumbotron">
                        <h2>Upravljanje vozilima</h2>
                        <h4>(Dodavanje, uređivanje, brisanje)</h4>
                    </div>
                </a>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <a href="~/servis/Admin">
                    <div class="jumbotron">
                        <h2>Upravljanje servisima</h2>
                        <h4>(Dodavanje, uređivanje, brisanje)</h4>
                    </div>
                </a>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <a href="~/Admin/Prava">
                    <div class="jumbotron">
                        <h2>Administratorska prava</h2>
                        <h4>(Pregled, dodjela, brisanje)</h4>
                    </div>
                </a>
            </center>
        </div>
</div>
