
@{
    ViewBag.Title = "Slanje";
}
<h2>PlaceHolder</h2>
<h2>@ViewBag.porukaZaPoruku</h2>
<h4>@ViewBag.porukaZaPoruku2</h4>
<h4>@ViewBag.porukaZaPoruku3</h4>
<h4>@ViewBag.porukaZaPoruku4</h4>

<h2><a href="Index" class="btn btn-primary">Povratak</a></h2>